      
      body 
            {
        width:700px;
        font-family:arial;
        font-size:14px;
        margin:20px auto;
            }  

      h1{
      color: #B81904;
      font-family:georgia,serif;
      font-weight:bold;
      font-size: 30px;
      margin-bottom: 0px;
        }

      h2{
        color: #8A8A8A;
        margin-top: 4px;
        font-family:georgia,serif;
        font-weight:normal;
        }

      h3 {
        font-size:24px;
        font-family:georgia,serif;
        color: #B81904;
          }
    
      #byline{
        color: #8A8A8A;
        font-family:georgia,serif;
        text-align: right;
              }

      #intro
          {
       font-weight: bold;
       font-size:16px;
          }

      #notes 
          {
        color: #8A8A8A;
          }
      #barchart  {
        float: left;
        font-size:12px;
        font-family:arial;
        margin-left: 10%;
      }

      #b1{
        margin-top: 20%;
        float: left;
        font-size:14px;
      }

      #table{
        border: 1px solid #D1D1D1;
      }

      .header {
    font-size:14px;
    border: 1px solid #D1D1D1;
    background-color: #3F9AF2;
    color:#FFFFFF;

  }
      .total  {
    font-weight: bold;
    font-size: 15px;
      }

      .topcell {
    text-align:center;
      }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-family:arial;
  font-size: 11px;
}
 
.link {
  fill: none;
  stroke: red;
  stroke-opacity: .2;
}
 
.link:hover {
  stroke-opacity: .5;
  stroke: red;
}
 
