body 
            {
        width:700px;
        font-family:arial;
        font-size:16px;
        margin:20px auto;
            }  

h1{
      text-align: center;
      font-family:georgia,serif;
      font-weight:bold;
      font-size: 30px;
        }

.more {
  background-color: #D9534F;
  color:white;
  border-radius: 5px;
  padding:10px 16px 10px 16px;
}

.less {
  background-color: #5CB85C;
  color:white;
  border-radius: 5px;
  padding:10px 16px 10px 16px;
}

label.error {
    margin-left:9px;
    padding:1px 5px 0px 5px;
    font-size:small;
    color:#FA7A7A;
}